.imagen_inicio {
    grid-area: imagen;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        width: map-get($width, cien)
    }
}

.imagen_nuestros_servicios {
    width: 27%;

    img {
        width: 95%;
        margin: 5% 8% 15% 8%;
    }
}

.imagen_sobre_nosotros {
    width: 26%;
    margin-right: 2%;

    img {
        width: map-get($width, cien);
        margin: 8% 8% 8% 10%;
    }
}

.imagen_sobre_nosotros2 img {
    width: map-get($width, cien);
    margin: 15% 0% 8% 10%;
}