footer {
    background-color: $primary;

    ul {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        grid-area: texto;
        text-align: center;
        font-size: 0.83rem;
        color: $tertiary;
        margin-top: -16px;
    }

}

i {
    font-size: 30px;
    display: flex;
    margin: 17px 5px 4px 5px;
    color: $tertiary;
}